#container,#player{
	position: absolute;
}

#player{
	width: 100px;
	height:100px;
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	border: 5px solid black;
}


#gameTable {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	width: 100px;
	height:100px;
	border: 1px solid black;
}
.path
{
	background-color: red;
}
#hint{
	margin-left: 400px;
	float:left;
	height: 300px;
	width: 300px;
}