#math,#math * {
    padding: 0 !important; margin: 0;
}

#math #wrapper {
    width:600px; 
    height: 600px; 
    border: 
        1px solid black; }

#math ul {
    list-style-type: none;
}

#math li {
    position: absolute;
    width: 60px;
    height: 60px;    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color:#0FF;
    line-height: 60px;
    text-align:center;
    cursor:pointer; 
}
#div1, #piano-status-melody, #rainbow-status-div
{
    font-size: 2em;
}

