#container,#player{
	position: absolute;
}

#player{
	width: 20px;
	height:20px;
	display: inline-block;
	border-radius: 50%;
	background-color: black;
}


#gameTable {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	width: 25px;
	height:25px;
	border: 1px solid black;
}
.path
{
	background-color: red;
}